body
{
    color: white !important;
    margin: 0;
    text-align: right;
    background-color: #11171c;
}
.Card-container
{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
}
.Card
{
    text-align: center;
    margin: 0px;
    border-radius: 25px;
    background-color: #0e1318;
    transition: all 0.5s ease-in-out;
    width: 300px;
    border: solid rgb(255, 255, 255);
    padding-bottom: 25px;
}
.Card:hover
{
    background-color: black;
}
.Card-text
{
    margin: 0;
    text-align: center !important;
}
.Card-image
{
    width: 100% !important;
    height: 200px;
    border-radius: 20px;
}
a
{
    text-decoration: none;
    color: white;
}
.League-container
{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    align-items: center;
    gap: 25px;
}
.League-Card
{
    width: 80%;
    margin: 0px;
    height: 150px;
    border-radius: 25px;
}