@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400&display=swap');
body
{
    color: white;
    margin: 0;
    text-align: right;
    background-color: #11171c;
}
.Card-container
{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
}
.Card
{
    text-align: center;
    margin: 0px;
    border-radius: 25px;
    background-color: #0e1318;
    transition: all 0.5s ease-in-out;
    width: 300px;
    border: solid rgb(255, 255, 255);
    border-width: 3.5px;
    padding-bottom: 25px;
}
.Card:hover
{
    background-color: black;
    border-color: black;
    box-shadow: 0px 0px 20px rgb(0, 0, 95);
}
.Card-text
{
    margin: 0;
    text-align: center !important;
}
.Card-image
{
    width: 100% !important;
    height: 200px;
    border-radius: 20px;
}
a
{
    text-decoration: none;
    color: white;
}
.League-container
{
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
    gap: 80px;
}
.League-image
{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
}
.League-Card
{
    padding: 25px;
    margin: 0px;
    border-radius: 50px;
    background-color: #0e1318;
    width: 570px;
    border: solid rgb(255, 255, 255);
    transition: all 0.5s ease-in-out;
}
.League-Card:hover
{
    padding: 0px;
    box-shadow: 0px 0px 35px rgb(0, 0, 95);
}
footer
{
    background-color: #0e1318;
    clear: both;
    padding: 25px;
}
.Time
{
    font-family: 'Orbitron', sans-serif;
}
.Menu 
{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.Menu-content
{
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(25px);
    border-radius: 50px;
}
.nav
{
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.Menu-item
{
    display: flex;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
}
.menu-img
{
    display: none;
    justify-content: center;
    width: 50px;
    height: 100%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.menu-icon_text
{
    display: flex;
    justify-content: flex-start;
    width: 150px;
    height: 100%;
}
.menu-icon
{
    display: flex;
    justify-content: flex-start;
    width: 100px;
    height: 100%;
}
.Menu-con
{
    list-style-type: none;
    display: flex;
    transition: all 0.3s ease-in-out;
}
.Menu-List
{
    color: white;
    transition: all 0.5s ease-in-out;
    padding: 0 1rem;
    display: flex;
}
.Menu-List:hover
{
    color: rgb(0, 0, 95);
}
.Links
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.Link-img
{
    width: 40px;
    height: 40px;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
}
#Github:hover
{
    box-shadow: 0px 0px 25px #2c2c2c;
}
#Telegram:hover
{
    box-shadow: 0px 0px 25px #189ade;
}
#Discord:hover
{
    box-shadow: 0px 0px 25px #7286db;
}
#Youtube:hover
{
    box-shadow: 0px 0px 25px #ff0000;
}
#circle
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    background-color: black;
    box-shadow: 0px 0px 15px rgb(0, 0, 95);;

}
a
{
    text-decoration: none;
}
a:hover
{
    text-decoration: underline blue;
}
.None-decoration
{
    text-decoration: none !important;
}
@media only screen and (max-width: 950px)
{
    .Time
    {
        display: none;
    }
}
@media only screen and (max-width: 830px)
{
    .menu-icon
    {
        display: none;
    }
}
@media only screen and (max-width: 720px)
{
    .Menu-con
    {
        position: fixed;
        top: 30px;
        /* first left: -60px */
        /* second left: -300px */
        right: -300px;
        border-radius: 50px;
        bottom: 0;
        height: 500px;
        background-color: #0e1318;
        padding-top: 25px;
        flex-direction: column;
        padding-left: 55px;
    }
    .Menu-List
    {
        padding: 1rem;
    }
    .menu-img
    {
        display: flex;
    }
    .League-container
    {
        gap: 25px;
    }
}